/* Page */

body {
    background-color: #242424;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
}

/* Header */

header {
    background-color: #005f77;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
    padding: 1em;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    box-shadow: 5px 5px #141414;
}

/* Navigation */

nav {
    padding: 1em 1em 1em 1em;
    text-align: center;
    color: #005f77;
}

nav a {
    color: #008fb3;
    text-decoration: none;
}

nav a:hover {
    color: #00ccff;
}

/* Content */

@keyframes viewbox {
    from {transform: rotateY(90deg)}
    to {transform: rotateY(0deg)}
}

.content {
    width: 400px;
    margin: auto;
    padding: 1em;
    background-color: #d3d3d3;
    border: 5px solid #005f77;
    transform: rotateY(90deg);
    animation-name: viewbox;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    box-shadow: 7px 7px #141414;
    overflow: hidden;
}

a {
    color: #7e1455;
    text-decoration: none;
}

a:hover {
    color: #aa317c;
}

dd {
    font-size: smaller;
}

li, dd {
    margin-bottom: 1em;
}

.alpha {
    list-style-type: lower-alpha;
    margin-top: 1em;
}

fieldset {
    border: 1px solid #005f77;
}

input[type=submit] {
    background-color: #005f77;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;  
}

table {
    border-collapse: collapse;
}

th {
    vertical-align: top;
    padding: 0.5em;
}

td {
    padding: 0.4em;
}

hr {
    background-color: #005f77;
    height: 1px;
    border: none;
}

#lotta {
    float: right;
    margin: 0em 0em 1em 1em;
    border: 1px solid #005f77;
}

/* Footer */

footer {
    background-color: #005f77;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 500px;
    padding: 1em;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 5px 5px #141414;    
}
