body {
    background-color: #006400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
}

header {
    background-color: #38b000;
    color: white;
    width: 500px;
    padding: 1em;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px #2c2c2c;
}

nav {
    padding: 1em 1em 1em 1em;
    text-align: center;
    color: #9ef01a;
}

a {
    color: #9ef01a;
    text-decoration: none;
}

a.text {
    color: #006400;
    text-decoration: none;
}

dd {
    font-style: italic;
}

@keyframes viewbox {
    from {transform: rotateY(90deg)}
    to {transform: rotateY(0deg)}
}

.content {
    width: 400px;
    margin: auto;
    padding: 1em;
    background-color: #ccff33;
    border: 5px solid #38b000;
    transform: rotateY(90deg);
    animation-name: viewbox;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    box-shadow: 7px 7px #2e2e2e;
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

th {
    vertical-align: baseline;
    padding: 0.5em;
}

td {
    padding: 0.5em;
}

li, dd {
    margin-bottom: 1em;
}

#lotta {
    float: right;
    padding: 0em 1em 1em 1em;
}

footer {
    background-color: #38b000;
    color: white;
    width: 500px;
    padding: 1em;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    box-shadow: 5px 5px #2c2c2c;    
}
